.landing-section {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  background-color: lightcoral;
}

.navbar-landing-body-wrapper {
  grid-column: 2;
}

.landing-body {
  padding: auto 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: calc(100vh - 4rem);
  /* background-color: #ecf7ff; */
  background-color: lightcoral;
}

.hello {
  width: 40%;
}

.photo {
  display: block;
  height: 60vh;

  border-radius: 30px;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 1em;
  font-weight: 100;
}
