.landing-section {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */

  min-height: 100vh;
  padding: 0 10vw;
  /* padding-bottom: 10vh; */
  overflow: hidden;
}

.landing-section--greeting {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  margin: 5vh 0;
}

.landing-section--title {
  font-size: 3em;
  color: rgba(0, 136, 255, 0.75);

  margin-bottom: 20px;
}

.landing-section--subtitle {
  font-size: 1.25em;
  line-height: 1.5em;
  color: rgba(0, 0, 0, 0.75);
}

.landing-section--photo-wrapper {
  display: grid;
  justify-content: center;
}

.landing-section--photo {
  height: 70vw;
  width: 70vw;

  border-radius: 50%;
}

@media screen and (orientation: landscape) {
  .landing-section {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;

    padding: 0 5vw;
  }

  .landing-section--greeting {
    width: 35vw;
  }

  .landing-section--title {
    font-size: 4em;
  }

  .landing-section--photo {
    height: 60vh;
    width: 60vh;
  }
}

/* .landing-section {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  background-color: lightcoral;
  height: calc(100vh - 4rem - 4vh);
  align-items: center;
}

.navbar-landing-body-wrapper {
  grid-column: 2;
}

.landing-body {
  grid-column: 2;
  padding: auto 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: lightcoral;
}

.hello {
  width: 40%;
  align-self: flex-start;
}

.photo {
  display: block;
  height: 60vh;

  border-radius: 30px;
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 1em;
  font-weight: 100;
} */
