.project-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;

  background-color: #eeeeee;
}

.project-section--title {
  font-size: var(--section-title-font-size);
}

.project-section--indicator {
  width: 25vw;
  max-width: 100px;

  display: flex;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .project-section--title {
    font-size: 4em;
  }
}
