.flat-button {
  padding: 0.5em 1em;
  margin: 0;
  background-color: rgba(23, 176, 195, 0.16);

  box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(23, 176, 195, 0.16);

  font-weight: 600;
  font-size: inherit;
  text-transform: uppercase;
  color: white;

  transition: 1s;
}

.flat-button-reverse {
  padding: 0.5em 1em;
  margin: 0;
  background-color: white;

  box-sizing: border-box;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 3px 3px 20px 0 rgba(23, 176, 195, 0.16);

  color: white;
  text-transform: uppercase;
  font-weight: 600;

  transition: 1s;
}
