.social-media-button {
  width: 50px;
  height: 50px;
  border-radius: 92px;
  /* background-color: #424242; */
  color: #fafafa;
  display: flex;
  justify-content: flex-end;
}

.social-media-img {
  width: 50px;
}

a:link.social-media-button,
a:visited.social-media-button,
a:hover.social-media-button,
a:active.social-media-button {
  display: flex;
  color: #0088ff;
  text-decoration: none;
}

a.disabled.social-media-button {
  /* padding: 5px 10px; */
  color: rgb(181, 220, 255);
  text-decoration: none;
}
