.nav-button {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;

  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
}

a:link.nav-button,
a:visited.nav-button,
a:hover.nav-button,
a:active.nav-button {
  display: flex;
  color: #0088ff;
  text-decoration: none;
}

a.disabled.nav-button {
  /* padding: 5px 10px; */
  color: rgb(181, 220, 255);
  text-decoration: none;
}

.nav-button--fade-out {
  animation-name: nav-button--fade-out;
  animation-duration: 0.2s;
}

.nav-button--fade-in {
  animation-name: nav-button--fade-in;
  animation-duration: 0.2s;
}

@keyframes nav-button--fade-out {
  0% {
    color: #0088ff;
  }
  100% {
    color: rgb(181, 220, 255);
  }
}

@keyframes nav-button--fade-in {
  0% {
    color: rgb(181, 220, 255);
  }
  100% {
    color: #0088ff;
  }
}
