.nav-button {
  text-align: center;
  font-weight: 600;
  font-size: 1.5em;

  display: flex;
  align-items: center;
  color: #0088ff;
  text-decoration: none;

  transition: 1s;
}

.nav-button.disabled {
  color: rgb(181, 220, 255);
  text-decoration: none;

  transition: 0.5s;
}

.nav-button--fade-out {
  animation-name: nav-button--fade-out;
  animation-duration: 0.5s;
}

.nav-button--fade-in {
  animation-name: nav-button--fade-in;
  animation-duration: 0.5s;
}

@keyframes nav-button--fade-out {
  0% {
    color: #0088ff;
  }
  100% {
    color: rgb(181, 220, 255);
  }
}

@keyframes nav-button--fade-in {
  0% {
    color: rgb(181, 220, 255);
  }
  100% {
    color: #0088ff;
  }
}
