.experience-card {
  width: 70vw;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 10px 10px;
}

.experience-card--header {
  font-size: 2em;
  font-weight: 800;
  color: white;

  padding: 2rem 20px;
  /* border: 1px solid black; */
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.2);

  background-color: black;
}

.experience-card--body-subheader {
  margin-bottom: 20px;
}

.experience-card--body-subheader-role {
  font-size: 1.25em;
  font-weight: 600;

  margin-bottom: 5px;
}

.experience-card--body {
  padding: 20px;
  border-radius: 0 0 10px 10px;

  /* temp */
  /* border: 1px black solid; */
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.experience-card--body-description {
  line-height: 1.75em;
  font-size: 1em;
}

.experience-card--body-button-wrapper {
  display: flex;
  justify-content: flex-end;

  margin: 20px 0;
  font-size: 1em;
}

.experience-card--body-button-chips {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
  margin-bottom: 5px;
}

.experience-card--body-button-chip {
  margin: 10px;
  margin-left: 0;
}
