.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 0;
  background-color: rgb(211, 211, 211);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 20px 0;
}

.social > * {
  height: 50px;
}

.social > *:nth-child(even) {
  margin: 0 10px;
}

.text {
  text-align: center;
}
